input {
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}
#result{
  height: 30px;
  margin-left: 2px;
  width: 205px;
}
.btn{
  border-radius: 50%;
}
.res{
  border-radius: 10px;
}
body{
  background-color: rgb(39, 18, 18);
}
h2{
  color: white;
}